/* 
 * =================================================================
 * Global objects ==================================================
 * =================================================================
 */

body {
	background-color: #e5e5e5;
}

/* 
 * =================================================================
 * Custom classes ==================================================
 * =================================================================
 */

.login-form-container {
	background-color: #ffffff;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 15px 15px 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.login-form-container h3 {
	margin-bottom: 24px;
	text-align: center;
}

.login-input-group {
	border-bottom: 1px #7f7f7f solid;
}

.login-form input[type=text],
.login-form input[type=password] {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.login-form button {
	margin-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	border-radius: 0;
	font-size: 16px;
}

/* 
 * =================================================================
 * Overridden classes ==============================================
 * =================================================================
 */

.input-group-addon {
	background-color: transparent;
	border: none;
}